body {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: Proxima Nova;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
h2 {
  font-family: Proxima Nova;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
h3 {
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
p, li {
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;

  width: 380px;
  height: 60px;

  color: rgba(255, 255, 255, 1);
  background: #000000;
  border-radius: 5px;
  border: none;
}

/* Header */

.app__header {
  position: absolute;
  top: 0;
  
  width: 1280px;
  height: 176px;
  background-color: #EEEEEE;
}
.header__text {
  position: absolute;
  width: 700px;
  top: 20px;
  left: 50px;

  padding: 0;
}
.header__text h1 {
  font-style: normal;
  font-weight: bold;
  margin: 0;
}
.header__text p {
  font-style: normal;
  font-weight: normal;
  width: 529px;
  margin-top: 10px;
  font-size: 24px;
}
.header__banner_picture {
  position: absolute;
  width: 440px;
  height: 165px;
  left: 767px;
  top: 11px;
}

/* Container for steps */

.content {
  position: absolute;
  top: 0;
  left: 0;
}

/* Footer */

.app__footer {
  position: absolute;

  width: 1280px;
  height: 228px;
  top: 1698px;
}

.footer_info {
  display: flex;
  justify-content: flex-start;

  height: 166px;
  padding-left: 50px;
  background-color: #F5F5F5;
}
.footer_info ul {
  width: 150px;
  color: rgba(0, 0, 0, 1);

  margin-right: 252px;
}
.footer_info li {
  color: rgba(0, 0, 0, 1);
}
.footer p {
  margin-left: 50px;
}
.accept_button {
  width: 179px;
}
.disaccept_button {
  width: 179px;
  background: rgba(0, 0, 0, 0.6);

  margin-left: 21px;
}

/* How it works */

.how_it_work {
  position: absolute;
  left: 50px;
}
.how_it_work.text_hide {
  top: 1275px;
}
.how_it_work.text_show {
  top: 1557px;
}

.steps {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 1280px;
}
.steps button {
  min-width: 180px;
  min-height: 180px;
  
  max-width: 180px;
  max-height: 180px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(94, 94, 94, 0.1);
  border-radius: 50%;
}
.step_rows {
  display: flex;
  align-items: center;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 212px;
  width: 180px;
}
.step img {
  height: 50%;
}
.step p {
  font-weight: bold;
}
.rights, .rights_separators {
  width: 24px;
  height: 16.52px;
}
.rights_separators {
  visibility: visible;
}
.steps .rights, .rights_separators, .steps a {
  margin: 0 23px;
}

.main_page {
  position: absolute;

  width: 1280px;
  height: 1132px;
  top: 176px;

  visibility: visible;
}

/* Product */

.product {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50px;
  left: 50px;

  width: 1180px;
  height: 560px;
}

/* Product block */

.product__gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 650px;
  height: 560px;
  
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  padding: 0;
}
.image_selector {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 500px;
  margin-left: 30px;
}
.image_selector a {
  height: 40px;
  width: 40px;
  text-align: center;
}
.img_arrows {
  height: 21.55px;
  width: 40px;
}
.img_plates {
  width: 120px;
  height: 120px;
  
  background: #F5F5F5;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 3px;

  margin: 7.5px 0;
}
.product_image {
  width: 440px;
  height: 440px;
  margin-right: 30px;
}

/* About product */

.about_product {
  margin-left: 50px;

  width: 480px;
}
.about_product h2 {
  margin-top: 20px;
}
.description {
  width: 352px;
}
.product_top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 9px;
  width: 480px;
  height: 22px;
}
.product_top h3 {
  text-transform: uppercase;
}

.product_rating {
  display: flex;
  align-items: center;

  padding: 0;
}
.product_rating p {
  margin: 0 0 0 10px;
}
.rating_stars{
  width: 88px;
  height: 16px;
}
.items {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;

  height:32px;
  width:144px;
  background: rgba(228, 0, 0, 1);
}
.buy_product {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 380px;
}
.select_button {

  font-size: 18px;
  width: 380px;
  margin: 20px 0;
}
.product__prices {
  display: flex;
  align-items: flex-end;

  margin-top: 30px;
  height: 57px;
  width: 380px;
  border-top: 1px solid rgba(196, 196, 196, 1);
}
.price {
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: 0;
}
.sells {
  margin-left: 10px;
  margin-bottom: 0;
}
.amazon_prime_logo {
  width: 200px;
  height: 34.65px;
}

/* Product Overview (MainContent) */

.overview {
  position: absolute;
  top: 650px;
  left: 50px;

  width: 650px;
  height: 422px;
}

.overview h1 {
  margin: 0;
}
.overview h3 {
  margin: 20px 0 0
}
.overview p {
  margin: 10px 0;
  width: 650px;
}
.overview ul {
  padding: 0 17.5px;
}
.overview li {
  margin: 10px 0;
}
.read_more{
  display: block;
  background: none;
  border: none;

  text-align: left;
  text-transform: none;
  text-decoration-line: none;
  font-size: 18px;
  font-weight: bold;

  color: rgba(0, 0, 0, 0.6);
}
.not_toggled {
  visibility: visible;
}
.toggled {
  visibility: hidden;
}
.hidden_text {
  position: absolute;
  top: 390px;
  
  visibility: hidden;
}
.hidden_text.text_hide {
  visibility: hidden;
}
.hidden_text.text_show {
  visibility: visible;
}

/* Step 1 */

.step_one {
  position: absolute;
  display: flex;
  flex-direction: row;
  
  top: 283px;
  left: 67px;

  width: 1180px;
  height: 560px;
}

/* Step 2 */

.step_two {
  position: absolute;
  display: flex;
  flex-direction: row;
  
  top: 289px;
  left: 67px;
}
.facebook_post {
  width: 478px;
  height: 443px;

  margin-left: 23px;
}
.press_here_arrow {
  position: absolute;

  content: url("content/press_here_arrow_1.png");

  top: 453px;
  left: 551px;
  width: 257px;
  height: 58px;
}
.press_here_text {
  position: absolute;

  top: 469.78px;
  left: 700px;

  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  
  color: #E40000;
}

/* Step 3 */

.step_three {
  position: absolute;
  display: flex;
  flex-direction: row;

  top: 289px;
  left: 67px;
}
.step_three__buttons {
  display: flex;
}

/* Step 4 */

.step_four {
  position: absolute;
  display: flex;
  flex-direction: row;

  top: 289px;
  left: 67px;
}
.buy_product_ways {
  padding-left: 15px;
}
.list_markers {
  display: flex;
  align-items: center;
}
.list_markers_images {
  width: 28px;
  height: 28px;

  margin-right: 13px;
}
.get_offer_block {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 380px;
}

/* Step 5 */

.step_five {
  position: absolute;
  display: flex;
  flex-direction: row;

  top: 289px;
  left: 67px;
}
.amazon_button {
  margin-bottom: 56px;
}

/* Steps' items */

.info {
  width: 480px;

  margin-left: 135px;
}

.picture_giveaway {
  width: 477px;
  height: 501px;
}

/* Step bar */

.step_bar {
  height: 490px;
  width: 48px;
}

.step_one__step_bar {
  content: url("content/v_step_one.png");
}
.step_two__step_bar {
  content: url("content/v_step_two.png");
}
.step_three__step_bar {
  content: url("content/v_step_three.png");
}
.step_four__step_bar {
  content: url("content/v_step_four.png");
}
.step_five__step_bar {
  content: url("content/v_step_five.png");
}

/* Telephones' format */

@media (max-width: 321px) {

  h1 {
    font-size: 20px;
    text-align: left;
  }
  h2 {
    font-size: 18px;
    text-align: left;
  }
  h3 {
    font-size: 12px;
    text-align: left;
  }
  p, li {
    font-size: 12px;
    text-align: left;
  }
  
  button {  
    font-size: 16px;
  
    width: 380px;
    height: 60px;
  }

  /* Header */

  .app__header {
    width: 320px;
    height: 160px;
  }
  .header__text {
    width: 281px;

    top: 10px;
    left: 20px;
  }
  .header__text h1 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .header__text p {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .header__banner_picture {
    width: 240px;
    height: 90px;
    left: 40px;
    top: 70px;
  }

  /* Footer */

  .app__footer {
    width: 1280px;
    height: 261px;
    top: 1677px;
  }

  .footer_info {
    height: 214px;
    padding-left: 50px;
  }
  .footer_info ul {
    width: 150px;

    margin-right: 252px;
  }
  .footer p {
    margin-left: 50px;
  }
  .accept_button {
    width: 179px;
  }
  .disaccept_button {
    width: 179px;

    margin-left: 21px;
  }

  /* How it works */

  .how_it_work {
    left: 0;
    top: 1117px;
  }
  .how_it_work h1 {
    margin-left: 20px;
  }
  /* .how_it_work.text_hide {
    top: 1117px;
  }
  .how_it_work.text_show {
    top: 1364px;
  } */

  .steps {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 320px;
  }
  .steps button {
    min-width: 110px;
    min-height: 110px;
    
    max-width: 110px;
    max-height: 110px;
  }
  .step {
    height: 142px;
    width: 110px;
  }
  .rights {
    width: 24px;
    height: 16.52px;
  }
  .rights_separators {
    visibility: hidden;
  }
  .steps .rights, .steps a {
    margin: 0 23px;
  }

  .main_page {
    width: 1280px;
    height: 1132px;
    top: 176px;
  }

  /* Product */

  .product {
    flex-direction: column;

    top: 4px;
    left: 20px;

    width: 1180px;
    height: 560px;
  }

  /* Product block */

  .product__gallery {
    width: 280px;
    height: 256px;
  }
  .image_selector {
    height: 226px;
    margin-left: 12px;
  }
  .image_selector a {
    height: 18px;
    width: 18px;
  }
  .img_arrows {
    height: 9.7px;
    width: 18px;
  }
  .img_plates {
    width: 50px;
    height: 50px;
    
    margin: 5px 0;
  }
  .product_image {
    width: 185px;
    height: 185px;
    margin-right: 15px;
  }

  /* About product */

  .about_product {
    margin-left: 0;

    width: 294px;
  }
  .about_product h2 {
    margin-top: 20px;
  }
  .description {
    width: 352px;
  }
  .product_top {
    margin-top: 9px;
    width: 294px;
    height: 22px;
  }

  .product_rating {
    padding: 0;
  }
  .product_rating p {
    margin: 0 0 0 10px;
  }
  .rating_stars{
    width: 88px;
    height: 16px;
  }
  .items {
    font-size: 16px;

    height:32px;
    width:144px;
  }
  .buy_product {
    width: 380px;
  }
  .select_button {
    font-size: 18px;
    width: 380px;
    margin: 20px 0;
  }
  .product__prices {
    margin-top: 30px;
    height: 57px;
    width: 380px;
  }
  .price {
    margin-bottom: 0;
  }
  .sells {
    margin-left: 10px;
    margin-bottom: 0;
  }
  .amazon_prime_logo {
    width: 200px;
    height: 34.65px;
  }

  /* Product Overview (MainContent) */

  .overview {
    top: 650px;
    left: 20px;

    width: 280px;
    height: 291px;
  }

  .overview h1 {
    margin: 0;
  }
  .overview h3 {
    margin: 20px 0 0
  }
  .overview p {
    margin: 10px 0;
    width: 650px;
  }
  .overview ul {
    padding: 0 17.5px;
  }
  .overview li {
    margin: 10px 0;
  }
  .read_more{
    text-align: left;
    text-transform: none;
    text-decoration-line: none;
    font-size: 18px;
    font-weight: bold;
  }
  .not_toggled {
    visibility: visible;
  }
  .toggled {
    visibility: hidden;
  }
  .hidden_text {
    top: 390px;
    
    visibility: hidden;
  }
  .hidden_text.text_hide {
    visibility: hidden;
  }
  .hidden_text.text_show {
    visibility: visible;
  }

  /* Step 1 */

  .step_one {
    flex-direction: column;

    top: 180px;
    left: 15px;

    width: 1180px;
    height: 560px;
  }

  /* Step 2 */

  .step_two {
    flex-direction: column;

    top: 180px;
    left: 15px;
  }
  .facebook_post {
    width: 243px;
    height: 225px;

    margin-left: 23px;
  }
  .press_here_arrow {
    content: url("content/press_here_arrow_3.png");

    left: 217px;
    top: 613px;
    
    width: 115px;
    height: 26px;
  }
  .press_here_text {
    top: 644px;
    left: 117px;
  
    font-size: 18px;
    line-height: 22px;
  }

  /* Step 3 */

  .step_three {
    flex-direction: column;
    
    top: 180px;
    left: 15px;
  }

  /* Step 4 */

  .step_four {
    flex-direction: column;
    
    top: 180px;
    left: 15px;
  }
  .buy_product_ways {
    padding-left: 15px;
  }
  .list_markers_images {
    width: 28px;
    height: 28px;

    margin-right: 13px;
  }
  .get_offer_block {
    width: 380px;
  }

  /* Step 5 */

  .step_five {
    flex-direction: column;
    
    top: 180px;
    left: 15px;
  }
  .amazon_button {
    margin-bottom: 56px;
  }

  /* Steps' items */

  .info {
    width: 280px;

    margin-left: 0;
  }

  .picture_giveaway {
    width: 0;
    height: 0;
  }

  /* Step bar */

  .step_bar {
    height: 30.37px;
    width: 282.78px;
  }
  
  .step_one__step_bar {
    content: url("content/h_step_one.png");
  }
  .step_two__step_bar {
    content: url("content/h_step_two.png");
  }
  .step_three__step_bar {
    content: url("content/h_step_three.png");
  }
  .step_four__step_bar {
    content: url("content/h_step_four.png");
  }
  .step_five__step_bar {
    content: url("content/h_step_five.png");
  }

}