body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Proxima Nova;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
h2 {
  font-family: Proxima Nova;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
h3 {
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
p, li {
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

.app__footer.info {
  background-color: #F5F5F5;
}
.app__footer.info ul {
  display: inline;
  color: rgba(0, 0, 0, 1);
}
.app__footer.info li {
  color: rgba(0, 0, 0, 1);
}

/* Header */

.app__header {
  position: relative;
  top: -32px;
  
  height: 176px;
  background-color: #EEEEEE;
}
.header__text {
  position: relative;
  width: 700px;
  top: 20px;
  left: 50px;

  padding: 0;
}
.header__text h1 {
  margin-bottom: 0;
}
.header__text p {
  width: 529px;
  margin-top: 10px;
  font-size: 24px;
}
.banner_picture {
  position: absolute;
  width: 440px;
  height: 165px;
  left: 767px;
  top: 11px;
}



button {
  width: 380px;
  height: 60px;

  color: rgba(255, 255, 255, 1);
  background: #000000;
  border-radius: 5px;
}
.accept_button {
  width: 179px;
}
.disaccept_button {
  width: 179px;
  background: rgba(0, 0, 0, 0.6);
}

.app__content {
  position: relative;
}

/* Product */

.product {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 50px;
}

/* Product block */
.product__gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 650px;
  height: 560px;
  
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  padding: 30px;
}
.image_selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 120px;
}
.image_selector a {
  height: 40px;
  width: 120px;
  margin-top: 9.23px;
  margin-bottom: 9.23px;
  text-align: center;  
}
.arrows {
  height: 40px;
  width: 21.55px;
}
.img_plates {
  width: 120px;
  height: 120px;
  
  background: #F5F5F5;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 3px;

  margin: 15px;
}
.product_image {
  width: 440px;
  height: 440px;
}

/* About product */

.product__description {
  width: 480px;
}
.price {
  text-decoration: line-through;
}

/* Product Overview (MainContent) */

.product_overview {
  position: relative;
  left: 50px;
}

.product_overview h1 {
  margin: 0;
}
.product_overview h3 {
  margin: 20px 0 0
}
.product_overview p {
  margin: 10px 0;
  width: 650px;
}
.product_overview ul {
  padding: 0 17.5px;
}
.product_overview li {
  margin: 10px 0;
}

.read_more{
  color: rgba(0, 0, 0, 0.6);
}

/* Step 1 */

.app__step_one {
  position: relative;
  display: flex;
  
}

/* Step 2 */

.app__step_two {
  position: relative;
  display: flex;

}

/* Step 3 */

.app__step_three {
  position: relative;
  display: flex;

}

/* Step 4 */

.app__step_four {
  position: relative;
  display: flex;

}

/* Step 5 */

.app__step_five {
  position: relative;
  display: flex;

}

/* Step bar */

.step {
  left: 50px;
}

/* How it works */

.app__how_it_work {
  position: relative;
  left: 50px;
}

.steps {
  display: flex;
  align-items: center;

  width: 1280px;
}
.steps a {
  width: 180px;
  height: 180px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(94, 94, 94, 0.1);
  border-radius: 50%;
}
.steps .rights,.steps a {
  margin: 0 23px;
}
/*.app__step_one, .app__step_two, .app__step_three, .app__step_four, .app__step_five {
  visibility: hidden;
}*/